<link rel="import" href="../../bower_components/polymer/polymer-element.html"> <!--es el elemento padre de polymer -->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="compra-productos">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <style>
     :host {
       display: block;
     }
     .flag{
       width: 140px;
       height: 140px;
     }
     .container{
      background-color:#FAFAFA;
      padding:10px;
    }
     .container-fluid {padding:40px;}

   </style>
   <div align="center" class="container" id="principal" name="principal" hidden={{ocultarprincipal}}>
     <div class="row">
       <a href="#" on-click="mostrarlogin">Cerrar Sesión</a>
       <h1 class="col-lg-12">Compra de Productos con Puntos</h1>

       <table>
      <tr>
       <td><button class="btn btn-info" on-click="obtenerProductos" type="button" name="button">Visualizar Productos</button></td>
       <td><button class="btn btn-success" on-click="obtenerUsuarios" type="button" name="button">Visualizar Usuarios</button></td>
       <td><button class="btn btn-danger" on-click="obtenerCompras" type="button" name="button">Visualizar Compras</button></td>
     </tr><tr>
       <td><button class="btn btn-warning" on-click="anadirProducto" type="button" name="button">Registrar Producto</button></td>
       <td><button class="btn btn-block" on-click="anadirUsuario" type="button" name="button">Registrar Usuario</button></td>
       <td><button class="btn btn-info" on-click="anadirCompra" type="button" name="button">Registrar Compra</button></td>
       </tr>
       </table>


     </div>
     <div class="row">
       <table hidden$="{{noCargados}}" class="table table-striped">
         <thead>
           <tr>
             <th></th>
           </tr>
         </thead>
         <tbody>
           <template is="dom-repeat" items="{{productos}}">
             <tr>
               <td>[[item.nombre]]</td>
               <td>[[item.puntos]]</td>
             </tr>
           </template>
           <template is="dom-repeat" items="{{usuarios}}">
             <tr>
               <td>[[item.identificacion]]</td>
               <td>[[item.nombre]]</td>
               <td>[[item.email]]</td>
               <td>[[item.puntos]]</td>
             </tr>
           </template>
           <template is="dom-repeat" items="{{compras}}">
             <tr>
               <td>[[item.identificacion]]</td>
               <td>[[item.producto]]</td>
             </tr>
           </template>
         </tbody>
       </table>

     </div>
   </div>
   <div align="center" class="container" id="regproducto" name="regproducto" hidden={{ocultarregprod}}>
      <h1 align-middle>Registro de Productos</h1>
      <div><input type=text name="nombreprod" id="txtnombreprod" placeholder="Nombre Producto"></div>
      <div><input type=text name="puntosprod" id="txtpuntosprod" placeholder="Cantidad Puntos"></div>
      <div><button class="btn btn-info" on-click="ingresarproducto" type="button" name="button">Ingresar Producto</button></div>
   </div>

   <div align="center" class="container" id="regusuario" name="regusuario" hidden={{ocultarregusu}}>
     <h1 align-middle>Registro de Usuarios</h1>
     <div><input type=text name="identificacionusu" id="txtidentificacionusu" placeholder="Identificación"></div>
     <div><input type=text name="nombreusu" id="txtnombreusu" placeholder="Nombre"></div>
     <div><input type=text name="emailusu" id="txtemailusu" placeholder="E-mail"></div>
     <div><input type=text name="puntosusu" id="txtpuntosusu" placeholder="Puntos"></div>
     <div><input type=password name="claveusu" id="txtclaveusu" placeholder="password"></div>
     <div><button class="btn btn-info" on-click="ingresarusuario" type="button" name="button">Ingresar Usuario</button></div>
   </div>

   <div align="center" class="container" id="regcompra" name="regcompra" hidden={{ocultarregcompra}}>
    <h1 align-middle>Registro de Compra</h1>
     <div><input type=text name="identificacioncompra" id="txtidentificacioncompra" placeholder="Identificación"></div>
     <div><input type=text name="productocompra" id="txtproductocompra" placeholder="Nombre del Producto"></div>
     <div><button class="btn btn-info" on-click="ingresarcompra" type="button" name="button">Registrar Compra</button></div>
   </div>

   <div align="center" class="col-lg-9" class="container-fluid" id="login" name="login" hidden={{ocultarreglogin}}>
     <h2 align-middle>Ingreso a Compra de Productos</h2>
     <div class="container">
            <div><input type=text name="usuario" id="usuario" placeholder="Usuario"></div>
            <div><input type=password name="clave" id="clave" placeholder="password"></div>
            <div><button class="btn btn-info" on-click="ingresar" type="button" name="button">Ingresar</button></div>
    </div>
   </div>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorProductos extends Polymer.Element {
     static get is() { return 'compra-productos'; }
     static get properties() {
       return {
         nombreprod: {
           type: String,
           notify: true
         },
         puntosprod: {
           type: Number,
           notify: true
         },
         identificacionusu: {
           type: String,
           notify: true
         },
         nombreusu: {
           type: String,
           notify: true
         },
         emailusu: {
           type: String,
           notify: true
         },
         puntosusu: {
           type: String,
           notify: true
         },
         claveusu: {
           type: String,
           notify: true
         },
         idcompra: {
           type: String,
           notify: true
         },
         prodcompra: {
           type: String,
           notify: true
         },
         productos: {
           type: Array,
           notify: true
         },
         usuarios: {
           type: Array,
           notify: true
         },
         compras: {
           type: Array,
           notify: true
         },
         noCargados: {
           type:Boolean,
           value: true
         },
         respuesta:{
           type: Object
         },
         ocultarregprod: {
           type: Boolean,
           value: true
         },
         ocultarregusu: {
           type: Boolean,
           value: true
         },
         ocultarregcompra: {
           type: Boolean,
           value: true
         },
         ocultarprincipal: {
           type: Boolean,
           value: true
         },
         ocultarreglogin: {
           type: Boolean,
           value: false
         }
       };
     }
     mostrarlogin(){
       this.ocultarreglogin = false;
       this.ocultarprincipal = true;
       this.productos = ""
       this.compras = ""
       this.usuarios = ""
       this.ocultarregprod = true
       this.ocultarregusu = true
       this.ocultarregcompra = true;
       this.$.usuario.value = "";
       this.$.clave.value = "";
     }
     ingresar() {
       var usuario1 = this.$.usuario.value
       var clave1 = this.$.clave.value
       if (usuario1 === "" || clave1 === "")
         alert("Clave o usuario incorrecto")
       else
       {
          var url = "http://localhost:3002/user/" + usuario1;

          console.log(url)
          var request = new XMLHttpRequest();
          console.log('{usuario":"'+ usuario1 + '", "clave":"' + clave1 + '"}');
          request.open("GET", url, false); //false es que la peticion sea sincrona
          request.setRequestHeader("Accept", "application/json");
          request.send();
          var pw = JSON.parse(request.responseText);

          console.log(pw[0].password);

          if (pw[0].clave === clave1)
          {
            this.ocultarreglogin = true;
            this.ocultarprincipal = false;
          }
          else
            alert("Clave o usuario incorrecto");
        }
      }
     obtenerProductos() {
       var url = "http://localhost:3002/products";
       var request = new XMLHttpRequest();

       request.open("GET", url, false); //false es que la peticion sea sincrona
       request.setRequestHeader("Accept", "application/json");
       request.send();
       this.compras = ""
       this.usuarios = ""
       this.ocultarregprod = true
       this.ocultarregusu = true
       this.ocultarregcompra = true;
       this.productos = JSON.parse(request.responseText);
       console.log(this.productos);
       this.noCargados = false;
     }
     obtenerUsuarios() {
       var url = "http://localhost:3002/user";
       var request = new XMLHttpRequest();

       request.open("GET", url, false); //false es que la peticion sea sincrona
       request.setRequestHeader("Accept", "application/json");
       request.send();
       this.compras = ""
       this.productos = ""
       this.ocultarregprod = true
       this.ocultarregusu = true
       this.ocultarregcompra = true;
       this.usuarios = JSON.parse(request.responseText);
       console.log(this.usuarios);
       this.noCargados = false;
     }
     obtenerCompras() {
       var url = "http://localhost:3002/myproducts";
       var request = new XMLHttpRequest();

       request.open("GET", url, false); //false es que la peticion sea sincrona
       request.setRequestHeader("Accept", "application/json");
       request.send();
       this.usuarios = ""
       this.productos = ""
       this.ocultarregprod = true
       this.ocultarregusu = true
       this.ocultarregcompra = true;
       this.compras = JSON.parse(request.responseText);
       console.log(this.compras);
       this.noCargados = false;
     }
     anadirProducto(){
       this.compras = ""
       this.productos = ""
       this.usuarios = ""
       this.ocultarregprod = false;
       this.ocultarregusu = true;
       this.ocultarregcompra = true;
    }
    ingresarproducto(){
       var url = "http://localhost:3002/products";
       var request = new XMLHttpRequest();
       var nomprod= this.$.txtnombreprod.value
       var puntprod= this.$.txtpuntosprod.value

       console.log('{"nombre":"'+ nomprod + '", "puntos":"' + puntprod + '"}')
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");

       if (nomprod === "" || puntprod === ""){
         alert("Para crear un nuevo producto debe llenar todos los campos");
       } else{
         var nuevoProducto = {"nombre":nomprod, "puntos":puntprod};
         var body = JSON.stringify(nuevoProducto);
         console.log(body)
         request.send(body);
         this.respuesta = request.responseText;
         console.log(this.respuesta);
         alert("Datos ingresados correctamente");
         this.$.txtnombreprod.value = "";
         this.$.txtpuntosprod.value = "";
       }
      }
      anadirCompra(){
        this.compras = ""
        this.productos = ""
        this.usuarios = ""
        this.ocultarregprod = true;
        this.ocultarregusu = true;
        this.ocultarregcompra = false;
     }
     ingresarcompra(){
        var url = "http://localhost:3002/myproducts";
        var request = new XMLHttpRequest();
        var idcompra= this.$.txtidentificacioncompra.value
        var prodcompra= this.$.txtproductocompra.value

        console.log('{"identificacion":"'+ idcompra + '", "producto":"' + prodcompra + '"}')
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        if (idcompra === "" || prodcompra === ""){
          alert("Para realizar una nueva compra debe llenar todos los campos");
        } else{
          var nuevaCompra = {"identificacion":idcompra, "producto":prodcompra};
          var body = JSON.stringify(nuevaCompra);
          console.log(body)
          request.send(body);
          this.respuesta = request.responseText;
          console.log(this.respuesta);
          alert("Compra realizada correctamente");
          this.$.txtidentificacioncompra.value = "";
          this.$.txtproductocompra.value = "";
        }
       }
      anadirUsuario(){
        this.compras = ""
        this.productos = ""
        this.usuarios = ""
        this.ocultarregprod = true;
        this.ocultarregusu = false;
        this.ocultarregcompra = true;
      }
      ingresarusuario(){
        var url = "http://localhost:3002/user";
        var request = new XMLHttpRequest();
        var idusu= this.$.txtidentificacionusu.value
        var nomusu= this.$.txtnombreusu.value
        var mailusu= this.$.txtemailusu.value
        var puntusu= this.$.txtpuntosusu.value
        var clausu= this.$.txtclaveusu.value

        console.log('{"identificacion":"'+ idusu + '", "nombre":"' + nomusu + '", "email": "' + mailusu + '", "puntos": "' + puntusu + '", "clave":"' + clausu + '"}')
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        if (idusu == "" || nomusu === "" || mailusu === "" || puntusu == "" || clausu == ""){
          alert("Para crear un nuevo usuario debe llenar todos los campos");
        } else{
          var nuevoUsuario = {"identificacion":idusu, "nombre":nomusu, "email":mailusu, "puntos":puntusu, "clave":clausu};
          var body = JSON.stringify(nuevoUsuario);
          console.log(body)
          request.send(body);
          this.respuesta = request.responseText;
          console.log(this.respuesta);
          alert("Datos ingresados correctamente");
          this.$.txtidentificacionusu.value = "";
          this.$.txtnombreusu.value = "";
          this.$.txtemailusu.value = "";
          this.$.txtpuntosusu.value = "";
          this.$.txtclaveusu.value = "";
        }
       }
    }

window.customElements.define(GestorProductos.is, GestorProductos);
</script>
</dom-module>
